body {
  background: #EEE5E9;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 16px;
}

h1 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2.5em;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

ul {
  margin: 10px;
  padding: 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

p {
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 600px;
  text-align: left;
}
#menu_nav {
  background-color: #264027;
  margin: 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu_trigger {
  display: none;
}
.title {
  position: relative;
  text-align: center;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firehead {
  width: 279px
  height: 230px;
  opacity: 25%;
}

#barebonesrecipetitle {
  text-align: center;
  display: block;
}

.barebonesparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

#afeastrecipetitle {
  text-align: center;
  display: block;
}

.afeastparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

#justenoughrecipetitle {
  text-align: center;
  display: block;
}

.justenoughparagraph {
  display: block;
  padding-left:20px;
  padding-right: 20px;
}

.info-container{
   display: inline-block;
   vertical-align: top;
   padding: 20px;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

.info-container p{
    padding: 20px;
    margin: 10px;
    text-align:
}

a {
  text-decoration: none;
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2em;
  color: #957964;
}

a:hover {
  color: #EEE5E9;
}

.home:hover {
  color: #957968;
}
footer {
  font-family: 'Patrick Hand', sans-serif;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #264027;
  font-weight: bold;
}

@media screen and (max-width: 299px) {
  h1 {
    font-size: 2em;
  }
}


@media screen and (max-width: 399px) {

  h1 {
    font-size: 2em;
  }

  h2 {
    margin: 10px;
  }

  h3 {
    margin: 10px;
  }

  p {
    margin: 5px;
  }

  #menu_trigger {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    border: none;
    width: 30px;
    height: 30px;
  }

  #menu_nav {
    display: none;
    flex-direction: column;
  }
