body {
  background: #EEE5E9;
  text-align: center;
  margin: auto;
  padding: auto;
  font-size: 16px;
}

h1 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 2.5em;
  margin: 10px;
  padding: 10px;
}

h2 {
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.5em;
  padding: 10px;
}

ul {
  margin: 10px;
  padding: 10px;
}

li {
  text-decoration: none;
  list-style-type: none;
  margin: 10px;
  padding: 10px;
}

p {
  font-family: 'Zilla Slab', serif;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  max-width: 600px;
  text-align: left;
}
#menu_nav {
  background-color: #264027;
  margin: 0px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#menu_trigger {
  display: none;
}
.title {
  position: relative;
  text-align: center;
}

.head1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.firehead {
  width: 100%;
  opacity: 70%;
}

a {
  text-decoration: none;
  font-family: 'Patrick Hand', sans-serif;
  font-size: 1.25em;
  color: black;
}

a:hover {
  color: #EEE5E9;
}

.home:hover {
  color: black;
}
